<div class="container-fluid">
  <div class="row">
    <div *ngIf="identity" class="navigation col-2">
      <nav id="navbar">
        <h1 class="head-title">
          <a [routerLink]="['/home']" class="nav-link">
            {{ title }}
          </a>
        </h1>
        <a href="#" class="nav-link">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Buscar
        </a>
        <a href="#" class="nav-link" [routerLink]="['/artistas', 1]" [routerLinkActive]="['actived']">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          Artistas
        </a>
        <a href="#" class="nav-link" [routerLinkActive]="['actived']">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
          Albums
        </a>
        <span>
          {{ identity.name }}
        </span>
        <br />
        <img id="image-logged" src="{{ url + '/get-image-user/' + identity.image }}" />
        <a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          Mis datos
        </a>
        <a [routerLink]="['/user-list',1]" [routerLinkActive]="['actived']">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          Usuarios
        </a>
        <button type="button" class="btn btn-warning btn-sesion" (click)="logout()">
          Salir
        </button>
      </nav>
    </div>
    <!-- *ngIf="identity" -->
     <div *ngIf="identity" [class.hidden]="identity" class="col-10">
      
      <router-outlet></router-outlet>
      <player class="player"></player>
    </div>
    <div class="col-lg-12 col-sm-12 bg-dark mb-5"> 
        <span>
          <h1 class="text-center text-light">Music</h1>
        </span>
    </div>
    <div class="container col-lg-12 col-sm-12" *ngIf="!identity">
      <div class="row">
      <div class="col-lg-6 col-sm-12">
        <h1 class="text-center">Identificate</h1>
        
        <div *ngIf="errorMessage">
          <div class="alert alert-danger">
            <strong>Error</strong>{{ errorMessage }}
          </div>
        </div>
       
        <form (ngSubmit)="onSubmit()">
          <p>
            <label>Correo Electronico</label>
            <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control " required />
            <span *ngIf="!email.valid && email.touched" class="text-danger">
              El email es obligatorio *
            </span>
          </p>
          <p>
            <label>Contraseña</label>
            <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control"
              required />
            <span *ngIf="!password.valid && password.touched" class="text-danger">
              La contraseña es obligatoria *
            </span>
          </p>
          <input type="submit" value="Ingresar" class="btn btn-primary btn-block mb-3" />
        </form>
      </div>
      <div class="col-lg-6 col-sm-12">
      <h1 class="text-center">Registrate</h1>

        <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" >
          <p>
            <label>Nombre</label>
            <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control"
              required />
            <span *ngIf="!name.valid && name.touched" class="text-danger">
              El nombre es obligatorio *
            </span>
          </p>
          <p>
            <label>Apellido</label>
            <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname"
              class="form-control" required />
            <span *ngIf="!name.valid && name.touched" class="text-danger">
              El apellido es obligatorio * 
            </span>
          </p>
          <p>
            <label>Correo Electronico</label>
            <input type="text" #email="ngModel" name="email" [(ngModel)]="user_register.email" class="form-control"
              required />
            <span *ngIf="!email.valid && email.touched" class="text-danger">
              El email es obligatorio *
            </span>
          </p>
          <p>
            <label>Contraseña</label>
            <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password"
              class="form-control" required />
            <span *ngIf="!password.valid && password.touched" class="text-danger">
              La contraseña es obligatoria *
            </span>
          </p>
          <a type="submit" class="btn btn-primary btn-block mb-5"><i ></i>Ingresar</a>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>