<div class="head-page">
  <h1>{{titulo}}</h1>

  <!-- <a
    [routerLink]="['/crear-artista']"
    *ngIf="identity && identity.role == 'ROLE_ADMIN'"
    class="btn btn-default"
  >
    Añadir artista
  </a> -->
  <button [routerLink]="['/crear-artista']" *ngIf="identity && identity.role == 'ROLE_ADMIN'" class="btn btn-success">
    Añadir artista
  </button>
  <!-- <ul class="pagination pull-right">
    <li><a [routerLink]="['/artistas',prev_page]">&laquo;</a></li>
    <li><a [routerLink]="['/artistas',next_page]">&raquo;</a></li>
  </ul> -->
  <ul class="pagination pull-right">
    <li>
      <button class="btn btn-success btn-sm" [routerLink]="['/artistas',prev_page]">
        &nbsp;&nbsp; &laquo; &nbsp;
      </button>
      <button class="btn btn-success btn-sm" [routerLink]="['/artistas',next_page]">
        &nbsp; &raquo; &nbsp;
      </button>
    </li>
  </ul>
</div>

<div class="clearfix"></div>
<div class="container">
  <ul class="artist-list" *ngIf="identity">
    <li *ngFor="let artist of artists" class="col-lg-3 artist-item">
      <div class="artist-image">
        <img class="img-list" src="{{url+ '/get-image-artist/' + artist.image}}" />
      </div>
      <div class="artist-name">
        <a [routerLink]="['/artista',artist._id]"> {{artist.name}} </a>
        <div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN'">
          <a [routerLink]="['/editar-artista',artist._id]" class="btn btn-warning">Editar</a>
          <a (click)="onDeleteArtist(artist._id)" class="btn btn-danger buttons"
            *ngIf="identity && identity.role == 'ROLE_ADMIN'">
            Eliminar
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>